.resultContainer {
  width: 20rem;
  height: 10rem;
  /* background-color: #402744; */
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

/* .header {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;

} */

.section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.episodio,
.temporada,
.header{
  text-align: center;
  margin: auto;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  font-weight: bold;
}
